<div class="container">
  <h1 id="stupid">Stupid Coaching</h1>
    <div id="container2">
      <div id="question">
        <p><%= @question %></p>
        <p>-You</p>
      </div>
      <div id="answer">
        <p><%= @answer %></p>
        <p>-Your coach</p>
      </div>
      <%= link_to "Ask a new question", ask_path %>
    </div>
</div>
